<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" | Vejper">
      <%= assigns[:page_title] || "Početna" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white antialiased">
    <header class="fixed top-0 left-0 w-full z-30">
      <ul class="bg-zinc-100 py-0 dark:bg-zinc-800 relative z-10 flex items-center h-[3.5rem] gap-4 px-4 sm:px-6 lg:px-8 justify-between">
        <.link class="font-bold text-[1.5rem] text-[#ff0000]" navigate={~p"/"}>
          Vejper
        </.link>
        <.link class="font-bold text-[1rem]" navigate={~p"/objave"}>Objave</.link>
        <.link class="font-bold text-[1rem]" navigate={~p"/oglasi"}>Oglasi</.link>
        <%= if @current_user do %>
          <.link class="font-bold text-[1rem]" navigate={~p"/caskanje"}>
            <Heroicons.chat_bubble_bottom_center class="w-8 h-8" />
          </.link>
          <.link class="font-bold text-[1rem]" navigate={~p"/profili"}>Korisnici</.link>
          <li>
            <div
              phx-click={
                JS.show(
                  to: ".user-menu",
                  transition: {"ease-out duration-300", "opacity-0", "opacity-100"}
                )
              }
              class="flex hover:bg-zinc-500 px-2 rounded cursor-pointer justify-between items-center"
            >
              <%= if @current_user.profile do %>
                <img
                  id="avatarButton"
                  type="button"
                  class="w-10 h-10 rounded-full relative"
                  src={@current_user.profile.image.url}
                  alt={@current_user.profile.image.url}
                />
                <h3 class="font-bold text-[1rem] text-black dark:text-white ml-2">
                  <%= @current_user.profile.username %>
                </h3>
              <% else %>
                <h3 class="font-bold text-[1rem] text-black dark:text-white ml-2">
                  <%= @current_user.email %>
                </h3>
              <% end %>
            </div>
            <div
              class="user-menu hidden fixed w-full h-full bg-transparent z-9 left-0 top-0 "
              phx-click={
                JS.hide(
                  to: ".user-menu",
                  transition: {"ease-out duration-300", "opacity-100", "opacity-0"}
                )
              }
            >
            </div>

            <div class="user-menu hidden z-10 font-bold bg-white divide-y divide-zinc-100 absolute top-full right-0 rounded-lg shadow w-44 dark:bg-zinc-700 dark:divide-zinc-600">
              <%= if @current_user.profile do %>
                <div class="px-4 py-3 text-sm text-zinc-900 dark:text-white">
                  <div><%= @current_user.profile.username %></div>
                  <div class="font-medium truncate"><%= @current_user.email %></div>
                </div>
              <% end %>
              <ul
                class="py-2 text-sm text-zinc-700 dark:text-zinc-200"
                aria-labelledby="avatarButton"
              >
                <%= if @current_user.profile do %>
                  <li>
                    <.link
                      navigate={~p"/profil/#{@current_user.profile.id}"}
                      class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                    >
                      Profil
                    </.link>
                  </li>
                <% else %>
                  <li>
                    <.link
                      navigate={~p"/profili/novi"}
                      class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                    >
                      Dovrši profil
                    </.link>
                  </li>
                <% end %>
                <li :if={is_admin?(@current_user)}>
                  <.link
                    navigate={~p"/admin"}
                    class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                  >
                    Admin
                  </.link>
                </li>
                <li>
                  <.link
                    navigate={~p"/nalog/podesavanja"}
                    class="block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
                  >
                    Podešavanja
                  </.link>
                </li>
              </ul>
              <div class="py-1">
                <.link
                  href={~p"/nalog/odjava"}
                  method="delete"
                  class="block px-4 py-2 text-sm text-zinc-700 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:text-zinc-200 dark:hover:text-white"
                >
                  Odjava
                </.link>
              </div>
            </div>
          </li>
        <% else %>
          <li>
            <.anchor href={~p"/nalog/prijava"}>
              Prijava
            </.anchor>
          </li>
          <li>
            <.anchor href={~p"/nalog/novi"}>
              Novi nalog
            </.anchor>
          </li>
        <% end %>
      </ul>
    </header>
    <%= @inner_content %>
  </body>
</html>
